<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="common_properties">

    <xacro:property name="joint_yaw_max_speed" value="10.0"/>
    <xacro:property name="joint_yaw_max_effort" value="100.0"/>
    <xacro:property name="joint_pitch_max_speed" value="10.0"/>
    <xacro:property name="joint_pitch_max_effort" value="100.0"/>
    
    <xacro:property name="face_mass" value="0.1"/>    
    <xacro:property name="joints_mass" value="1.0"/>
    <xacro:property name="base_mass" value="10"/>
    
    <xacro:property name="DEG2RAD" value="0.017453292519943295" />
    <xacro:property name="PI" value="3.1416" />
    <xacro:property name="BASE_RADIUS" value="0.5" />
    <xacro:property name="INF" value="100000000000000000" />
    
    <gazebo>
        <plugin name="gazebo_ros_control" 
                filename="libgazebo_ros_control.so">
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
            <legacyModeNS>true</legacyModeNS>
        </plugin>
    </gazebo>
    
</robot>
