<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="debug" default="false"/>
  <arg name="gui" default="false"/>
  <arg name="headless" default="false"/>
  <arg name="pause" default="false"/>
  <arg name="verbose" default="true"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find pan_and_tilt_description)/worlds/light.world"/>
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg pause)"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="verbose" value="$(arg verbose)"/>
  </include>

  

  <group ns="/robot1">
    <include file="$(find pan_and_tilt_description)/launch/spawn_pan_and_tilt_xacro.launch">
      <arg name="x" value="3.0" />
      <arg name="y" value="0.0" />
      <arg name="z" value="0.0" />
      <arg name="roll" value="0.0"/>
      <arg name="pitch" value="0.0"/>
      <arg name="yaw" value="0.0" />
      <arg name="xacro_robot_file" value="$(find pan_and_tilt_description)/robot/pan_and_tilt.xacro" />
      <arg name="robot_name" value="/robot1" />
    </include>
    <include file="$(find pan_and_tilt_description)/launch/control_pan_and_tilt.launch">
      <arg name="namespace" value="/robot1"/>
    </include> 
    <node pkg="tf" type="static_transform_publisher" name="first_pos" args="3.0 0 0 0 0 0 world /robot1/world 100"/>
  </group>

  <group ns="/robot2">
    <include file="$(find pan_and_tilt_description)/launch/spawn_pan_and_tilt_xacro.launch">
      <arg name="x" value="-3.0" />
      <arg name="y" value="0.0" />
      <arg name="z" value="0.0" />
      <arg name="roll" value="0.0"/>
      <arg name="pitch" value="0.0"/>
      <arg name="yaw" value="0.0" />
      <arg name="xacro_robot_file" value="$(find pan_and_tilt_description)/robot/pan_and_tilt.xacro" />
      <arg name="robot_name" value="/robot2" />
    </include>
    <include file="$(find pan_and_tilt_description)/launch/control_pan_and_tilt.launch">
      <arg name="namespace" value="/robot2"/>
    </include> 
    <node pkg="tf" type="static_transform_publisher" name="seconde_pos" args="-3.0 0 0 0 0 0 world /robot2/world 100"/>
  </group>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find pan_and_tilt_description)/config/view.rviz" required="true" output="screen"/>

</launch>
