<?xml version='1.0'?>

<model>
  <name>skyscraper</name>
  <version>1.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Downloaded</name>
    <email>davlee618@gmail.com</email>
  </author>

  <description>
    A skycraper downloaded from blender swap: https://www.blendswap.com/blend/16665
  </description>
</model>
